{% load i18n %}

{% block subject %}
Активация аккаунта на сайте InfoFox
{% endblock subject %}

{% block text_body %}
Вы получили это сообщение, потому что вам нужно закончить регистрацию на сайте Infofox.

Пройдите по следующей ссылке, чтобы активировать аккаунт
{{ protocol }}://домен-на-фронте/{{ url|safe }}

Спасибо, что используете наш сайт!

{% endblock text_body %}

{% block html_body %}
<p>Вы получили это сообщение, потому что вам нужно закончить регистрацию на сайте Infofox.</p>

<p>Пройдите по следующей ссылке, чтобы активировать аккаунт</p>
<p><a href="{{ protocol }}://домен-на-фронте/{{ url|safe }}">{{ protocol }}://домен-на-фронте/{{ url|safe }}</a></p>

<p>Спасибо, что используете наш сайт!</p>


{% endblock html_body %}
